.box {
    display: inline-block;
    background-color: #3A4042;
    width: 400px;
    border-radius: 8px;
    box-shadow: 5px 5px 3px;
    text-align: center;
    padding: 14px 10px;
}

.box .title {
    margin-bottom: 5px;
}